<div class="col-md-5">
  <h1>Read on, my dear.</h1>
  <button type="button" class="btn btn-default new_post">
    <%= link_to 'New Post', new_post_path %>
  </button>
</div>

<div class="col-md-8">
  <% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <div class="author">by <%= post.user.username.capitalize %></div>
  <div class="postbody" id="<%= post.id %>">
  <%= post.body %>
  </div>
  <ul class="edit">
    <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'You sure \'bout this, Jimmy?' } %></li>
  </ul>
  <% end %>

</div>


